*{
    font-weight: 540;
    padding: 10;
    margin: 0;
    color: whitesmoke;
    font-family:fantasy 
}

h1{
  text-align: center;
  font-size: 70px;
  color: red;
  height: 82;
}

h2{
  text-align: center;
  color: rgb(3, 27, 133);
  font-size: 55px;
  height: 69px;
}

h3{
  font-size: 23;
  color: rgb(248, 248, 248);
}

.eda{
    height: 336;
    align-content: center;
    float: right;
    margin: right;
}

body{
  background: url(fran.jpeg) no-repeat center center fixed ;
  background-size: cover; 
}

.itaa{
    height: 670px;
    align-content: center;
    width: 860;
}


h5{
 text-align: center;
 font-size: 70px;
 color: darksalmon;
 height: 55px;

}

.ital{
  height: 240px;
  align-content: center;
  float: right;
  margin: right;
  width: 360;
}


.clima{
  height: 500px;
  align-content: center;
  width: 678;
}