*{
    padding: 10;
    margin: 0;
    color: whitesmoke;
    font-family: fantasy;
}

.ita{
    height: 268px;
    align-content: center;
    float: right;
    margin: right;
    width: 500;
}

h1{
  text-align: center;
  font-size: 70px;
  color: rgb(240, 186, 121);
  height: 82;
}

h2{
  text-align: center;
  color: aqua;
  font-size: 45px;
}

h3{
  font-size: 22;
}

.eda{
    height: 280;
    align-content: center;
    float: right;
    margin: right;
}

.coli{
  text-align: center;
  height: 650;
}



body{
  background: url(italia.jpeg) no-repeat center center fixed ;
  background-size: cover; 
}